include *.png
recursive-include docs *.txt
recursive-include plonetheme *.cfg
recursive-include plonetheme *.css
recursive-include plonetheme *.html
recursive-include plonetheme *.jpg
recursive-include plonetheme *.js
recursive-include plonetheme *.png
recursive-include plonetheme *.xml
recursive-include plonetheme *.zcml
